.list-item {
  list-style: none;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.list-item.visible {
  opacity: 1;
}

.list-item > div {
  background-repeat: no-repeat;
}

.card-container {
  position: relative;
  background-size: contain;

  height: 255px;

  margin: 8px 8px 0 8px;
  
  color: #FFF;

  overflow: hidden;
  
  :global(img) {
    position: absolute;
    width: 100%;
  }
}

/* Rectangle 73: */
.heading-container {
  top: 24px;
}

.heading-container2 {
  top: 80px;
}

.heading-container, .heading-container2 {
  position: absolute;

  left: 24px;

  height: 48px;

  margin: 0;
  padding-top: 7px;
  padding-left: 16px;
}




.heading-container h1, .heading-container2 h1 {
  font-weight: 400;
  margin: 0;
  z-index: 1;

  font-size: 2em;
}

.address-container {
  font-size: 14px;

  position: absolute;

  bottom: 30px;
  left: 24px;

  height: 48px;
}

.address-line1 {
  top: 0px;
}

.address-line2 {
  top: 33px;
}

.address-line1, .address-line2 {
  position: absolute;

  // left: 24px;

  height: 30px;
  width: 100%;
  // width: 185px;

  margin: 0;
  padding-top: 4px;
  padding-left: 8px;
}

.address-line1 h3, .address-line2 h3 {
  font-weight: 400;
  position: absolute;

  // height: 100%;
  width: auto;

  margin: 0;
  z-index: 1;
  height: 30px;
}

.heading-background1, .heading-background2 {
  position: absolute;

  // top: 24px;
  // left: 24px;

  height: 100%;
  width: 90%;

  // height: 48px;
  // width: 288px;

  margin-top: -7px;
  margin-left: -16px;
}

.heading-container h1 {
  position: absolute;
  height: 100%;
}

.heading-background1, .address-heading-background1, .rating-background1 {
  background: #181614;
  // background-image: linear-gradient(90deg, #000000 100%, #000000 78%);
  // opacity: 0.4
}
.heading-background2, .address-heading-background2, .rating-background2 { 
  background: #181614;
  // background-image: linear-gradient(90deg, #000000 0%, #D8D8D8 45%);
  // opacity: 0.3
}

.address-heading-background1, .address-heading-background2, .heading-container h3 {
  position: absolute;

  // top: 24px;
  // left: 24px;

  height: 30px;
  width: 100%;

  // height: 48px;
  // width: 288px;

  margin-top: -4px;
  margin-left: -8px;
  // margin-top: -7px;
  // margin-left: -16px;
}

.rating-container {
  position: absolute;
  height: 32px;
  width: 140px;

  bottom: 16px;
  left: 24px;
}

.rating-background1, .rating-background2 {
  position: absolute;
  height: 32px;
  width: 100%;
  bottom: 8px;
}

.stars-container {
  position: absolute;
  bottom: 0;
  margin: 0;
  margin-left: 8px;
  display: flex;
  list-style: none;
  z-index: 1;
}

.stars-container li {
  margin-left: -8px;
}


@media (min-width: 768px) {
  .list-item {
    width: 50%;
  }
}