.content-component {
  
  background: white;
/*   height: 100%; */

  .writing-component-container, .reviews-component-container {
    position: absolute;

    padding: 0 16px;
    right: 0px;

    // padding-left: 16px;
    // padding-right: 16px;

    width: 100%;
/*     height: 100%; */
    height: auto;

    background: white;
    opacity: 1;
  }

  .writing-component-container, .reviews-component-container {
    opacity: 1;
    // transform: translateX(-100%);
    display: none;
  }

  .writing-component-container.visible {
    // transform: translateX(0);
    display: block;
  }

  .reviews-component-container.visible {
    // transform: translateX(0);
    display: block;
  }

  .reviews-component-container {
    
    // right: 0px;
    
  }

  .writing-component-container {
    
    // transform: translateX(100%);
  }

  // .reviews-component-container {
  //   background: white;
  // }
}

