.desktop-photo-container {
  background: white;

  position: relative;

  width: 100%;

  .photo {
    background: white;
  }

  :global(img) {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}