.desktop-details-container {
  position: relative;

  padding: 16px;


  overflow-x: hidden;
  overflow-y: scroll;

  flex: 1;

  background: white;
  color: black;

  margin: 3px 3px;

  .fab-button {
    
    position: fixed;
    // right: 24px;
    bottom: 24px;

    z-index: 5;

    .writing-action-button {
      background: #FC2950;
      color: #FCF7F4;
    }

    .writing-action-button:focus   {
      outline: -webkit-focus-ring-color auto 5px;
    }

  }

  .desktop-cancel-writing {
    left: 8px;
    bottom: 72px;
    position: absolute;
  }

  .desktop-cancel-writing > :global(a):focus {
    outline: -webkit-focus-ring-color auto 5px;
  }
}