.container {
  position: relative;
  background: white;

  // margin-right: 80px;
  // float: right;

  :global(a) {
    text-decoration: none;
    color: black;

    margin-right: 80px;
    float: right;
  }

  .closed {
    pointer-events: none;
  }

  .overlay {
    position: fixed;

    z-index: 1000;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    .open {
      pointer-events: auto;
    }

    .closed {
      pointer-events: none;
    }
  }

  :global(#filter-menu-container) {
    z-index: 1001;

    pointer-events: auto;
  }

  .back-tile {
    display: flex;
    flex-direction: row;

    .icon-container {
      flex: 1;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      flex: 2;

      .flex {
        flex-grow: 1;
      }

      :global(span) {
        flex: 1
      }
    }
  }

  #overflow-visible {
    overflow: visible;
  }
}