.details {
  z-index: 0;
}

.details * {
  font-weight: 400;
}

.details .header {
  position: relative;
  min-height: 48px;
  max-height: 48px;
  width: 100%;
  border-bottom: 0.5px solid rgba( 151, 151, 151, 0.5);
  transition: 0.35s max-height cubic-bezier(0.4, 0.0, 0.2, 1);

  overflow-y: hidden;
}

.details .header:global(.open) {
  max-height: 1000px;
  transition: 0.35s max-height cubic-bezier(0.4, 0.0, 0.2, 1);
}

.header .line-one {
  height: 48px;
}

.header .opening-hours-section {
  
  padding: 0 16px;
  transition-delay: 0s;
  transition: 0.3s opacity cubic-bezier(0.4, 0.0, 0.2, 1);
  opacity: 0;

  ul {
    list-style: none;
    display: block;
    position: relative;
    margin: 0px 0 8px 0;
    text-align: center;
    line-height: 24px;
  }

}

.header .opening-hours-section:global(.visible) {
  opacity: 1;
  transition-delay: 0.9s;
  transition: .6s opacity cubic-bezier(0.4, 0.0, 0.2, 1);
}

.header h3 {
  display: inline-block;
  margin-left: 16px;
  margin-top: 12px;
}

.header-opening-hours {
  position: absolute;
  top: 0;
  right: 16px;

  height: 100%;
}

.header-opening-hours h3 {
  position: relative;
  margin-right: 46px;
}

.header-opening-hours svg {
  position: absolute;
  
  height: 17px;
  width: 17px;
}

.header-opening-hours .down-arrow {
  position: absolute;
  height: 17px;
  width: 17px;

  top: 16px;
  right: 16px;
  transform:rotate( -0deg );
  transition: transform 300ms ease;
}

.header-opening-hours .down-arrow:global(.open) {
  transform:rotate( 180deg );
  transition: transform 300ms ease;
}

.reviews {
  margin-top: 16px;
}

.reviews .reviews-container {
  margin-bottom: 60px;
  background: white;
}

.review-item {
  padding: 16px;
  min-height: 72px;
  width: 100%;
  position: relative;
  display: inline-block;
}

.review-item .line-one {
  // margin-top: 9px;
  position: relative;

  top: 8;

  width: 100%;

    /* height: 100%; */
    width: 100%;
    top: 0;
    /* width: 100%; */
}

.line-one h4:first-child {
  float: left;
  // margin-left: 16px
}

.line-one h4:last-child {
  float: right;
  position: relative;
  float: right;
  margin-right: 16px;
}

.line-two {
  position: relative;
  width: 100%;
  top: 8px;
}

.line-two ul {
  float: left;
  margin-right: 16px;
}

.line-two p {
  
}

.line-two li {
  display: inline;
}

.clear {
  width: 100%;
  clear: both;
  height: 0px;
  line-height:0px;
}

.close-button {
  position: fixed;
  background: white;
  width: 200px;
  height: 100px;
  top: -50px;
  right: -100px;
  transform: rotate(45deg);
  z-index: 3;
}

.close-icon {
  position: fixed;
  top: 8px;
  right: 8px;
  fill: rgba(64, 64, 64, 0.5);
  pointer-events: none;
  z-index: 3;
}

.photo {
  height: 100%;
  z-index: 2;
  position: relative;
  overflow-y: scroll;
}

.writing-action-button {
  position: fixed !important;
  background: #FC2950;
  color: #FCF7F4;
  bottom: 24px;
  right: 24px;
  z-index: 5;
}

.done {
  background: #58DD44;
}

.cancel-action-button-mini {
  position: fixed !important;
  bottom: 96px;
  right: 32px;
  color: #404040;
  background: #FAFAFA;
}