.writing-container {
  position: relative;
  
  padding: 16px;

  background: white;

  .text-section :global(textarea) {
    border: 0 !important;
  }

  .text-section :global(.pe-textfield__input-area:after) {
    opacity: 0 !important;
  }

  :global(label.pe-textfield__label) {
    color: #767676;
  }
}

.rating-banner {
  position: absolute;
  bottom: 24px;
  left: 40px;
  
  :global(ul) {
    list-style: none;
  }

  :global(svg) {
    height: 32px;
    width: 32px;
  }

  .star {
    display: inline-block;
    margin-right: 16px;
    fill: #a0a0a0;
  }

  .star.selected {
    fill: #fbc50d;
  }

}

